// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label {
 padding:3px;
}
.label-danger {
 background-color:#b80b0b;
}

.label-info {
 background-color:#389fff;
}

.label-primary {
 background-color:#2f6bd8;
}